public-f net.minecraft.network.protocol.game.ClientboundSoundPacket f_133433_ # sound
public-f net.minecraft.network.protocol.game.ClientboundLevelEventPacket f_132258_ # type
public-f net.minecraft.sounds.SoundEvent f_11656_ # location

#NEW FOR MOJANG MAPPINGS
public net.minecraft.client.particle.Particle f_107227_ # rCol
public net.minecraft.client.particle.Particle f_107228_ # gCol
public net.minecraft.client.particle.Particle f_107229_ # bCol

public net.minecraft.client.particle.Particle f_107212_ # x
public net.minecraft.client.particle.Particle f_107213_ # y
public net.minecraft.client.particle.Particle f_107214_ # z

public net.minecraft.client.particle.Particle f_107215_ # xd
public net.minecraft.client.particle.Particle f_107216_ # yd
public net.minecraft.client.particle.Particle f_107217_ # zd

public net.minecraft.client.particle.Particle f_107224_ # age

public net.minecraft.world.entity.player.Player f_36077_ # abilities

public net.minecraft.server.level.ChunkMap m_140416_()Ljava/lang/Iterable; # getChunks
public net.minecraft.client.color.block.BlockColors f_92571_ # blockColors

public com.mojang.math.Matrix4f * # all fields

public net.minecraft.client.renderer.texture.SpriteContents f_244575_ # animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents f_243904_ # originalImage
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture m_245080_(I)I # getFrameX
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture m_246436_(I)I # getFrameY

public net.minecraft.world.level.biome.Biome m_47505_(Lnet/minecraft/core/BlockPos;)F # getTemperature

public net.minecraft.util.datafix.DataFixers m_14513_(Lcom/mojang/datafixers/DataFixerBuilder;)V # addFixers

public net.minecraft.client.renderer.texture.SpriteContents m_245088_()I # getFrameCount


#neoforge deobf

public-f net.minecraft.network.protocol.game.ClientboundSoundPacket f_133433_ # sound
public-f net.minecraft.network.protocol.game.ClientboundLevelEventPacket f_132258_ # type
public-f net.minecraft.sounds.SoundEvent f_11656_ # location

#NEW FOR MOJANG MAPPINGS
public net.minecraft.client.particle.Particle rCol # rCol
public net.minecraft.client.particle.Particle gCol # gCol
public net.minecraft.client.particle.Particle bCol # bCol

public net.minecraft.client.particle.Particle x # x
public net.minecraft.client.particle.Particle y # y
public net.minecraft.client.particle.Particle z # z

public net.minecraft.client.particle.Particle xd # xd
public net.minecraft.client.particle.Particle yd # yd
public net.minecraft.client.particle.Particle zd # zd

public net.minecraft.client.particle.Particle age # age

public net.minecraft.world.entity.player.Player abilities # abilities

public net.minecraft.server.level.ChunkMap getChunks()Ljava/lang/Iterable; # getChunks
public net.minecraft.client.color.block.BlockColors blockColors # blockColors

public com.mojang.math.Matrix4f * # all fields

public net.minecraft.client.renderer.texture.SpriteContents animatedTexture # animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents originalImage # originalImage
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture getFrameX(I)I # getFrameX
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture getFrameY(I)I # getFrameY

public net.minecraft.world.level.biome.Biome getTemperature(Lnet/minecraft/core/BlockPos;)F # getTemperature

public net.minecraft.util.datafix.DataFixers addFixers(Lcom/mojang/datafixers/DataFixerBuilder;)V # addFixers

public net.minecraft.client.renderer.texture.SpriteContents getFrameCount()I # getFrameCount